---
---

$font: Barlow, Helvetica, sans-serif;
$orange: #fbc68e;
$pink: #ff7b96;
$brown: #2b0500;
$color1: $pink;
$color2: $orange;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font;
}

/* ====================== NAVIGATION ====================== */
nav {
	position: fixed;
	width: 100%;
	top: 0;
}

nav .container {
	padding: 1.5rem 0;
}

nav li a {
	display: block;
	font: 400 1.5rem/120% $font;
	text-decoration: none;
	letter-spacing: -.3px;
	transition: .1s;
	padding-bottom: .25rem;
	border-bottom: 1px solid transparent;
}

/* ====================== MOBILE NAVIGATION ====================== */
#toggle {
	text-decoration: none;
	font: 700 2.25rem/100% $font;
	color: #fff;
	padding: .25rem;
	outline: none;
	text-shadow: 0 1px 2.5px #444;
	float: right;
	display: none;
}

@media (max-width: 60rem) {
	nav ul {
		position: absolute;
		right: 1rem;
		padding: .5rem .75rem;
	}

	.default-state ul {
		opacity: 0;
		transition: .15s;
		background: #ddd;
		padding: 1rem;
		margin-top: -1rem;
		border-radius: .5rem;
	}

	.responsive ul {
		opacity: 1;
		
	}
	#toggle {
		display: inline-block;
	}
}

/* ====================== HERO ====================== */
#intro {
	padding: 7.5rem 1rem 2rem;
}

.logo {
	max-width: 85px;
}

body {
	background: url({{ '/img/header.jpg' | prepend:site.url }}) bottom/cover no-repeat fixed;
}

header {
	color: #eee;
}

/* ====================== STRUCTURE/FORMAT ====================== */
section {
	padding: 3rem 0 2rem;
	background: #fff;
	margin: 0;
}

.container {
	margin: auto;
}

.row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin: 2rem 0;
}

.half, .third, .two-thirds { width: 100% }

.container {
	width: 90%;
}

.image-blocc {
	border: none;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.image-blocc img {
	width: 100%;
}

.subpage {
	margin: 8rem 0 2rem;
}

/* ====================== TYPOGRAPHY & MISC STYLES ====================== */
p {
	margin: .7em 0;
	font: 400 1.2rem/140% $font;
}

h1 {
	font: 700 3rem/110% $font;
	letter-spacing: -.5px;
}

h2 {
	font: 700 2rem/110% $font;
}

h3 {
	font: 300 1.8rem/110% $font;
}

h4 {
	font: 300 1.35rem/130% $font;
	margin: .5rem 0;
}

h1, h2, h3, h4 { margin: .2em 0; }


h5 {
	font: 700 1.85rem/150% $font;
	color: #eee;
	margin-top: .5rem;
}

b { font-weight: 700 }

.und {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.und:after {
  content: "";
  display: block;
  position: relative;
  top: -.15em;
  width: 100%;
  height: .15em;
  background: linear-gradient(to left, $color1, $color2);
  z-index: -1;
  transition: .15s;
  margin-bottom: -.2em;
}

.und:hover:after {
  height: .5em;
  top: -.5em; /* set to same value as height to give the appearance of the underline not moving */
  margin-bottom: -.55em; /* difference btwn initial and final underline thickness */
}

section {
	h2, h3, h4, p {
		color: $brown;
	}
}

.button-list {
	margin-top: 1rem;
}

.button-list li {
	list-style: none;
	display: inline-block;
	margin-right: 1.5rem;
	margin-bottom: 1rem;
}

.button {
	text-decoration: none;
	margin-top: .75rem;
	display: inline-block;
	padding: .65rem 1.05rem .85rem;
	border-radius: .5rem;
	color: $brown;
	font: 700 1.35rem/100% $font;
	background: $orange;
	transition: .15s;
}

.button:hover, .button:active {
	background: lighten($orange, 10%);
}

/* collapsible content is hidden by default */
.content { display: none }
#FAQ .collapsible { transition: .15s }
#FAQ .collapsible:active, #FAQ .collapsible:hover { border-left: 7.5px solid $orange; padding-left: 7.5px }

/* ====================== FOOTER ====================== */

footer {
	background: #333;
	color: #eee;
	padding: .5rem 0;
}

footer .logo {
	max-width: 120px;
}

footer li {
	list-style: none;
}

footer a {
	text-decoration: none;
	font: 400 1.25rem/150% $font;
	color: #ccc;
	transition: .15s;
}

footer a:hover, footer a:active {
	color: #eee;
}

/* ====================== MEDIA QUERIES ====================== */
@media (min-width: 60rem) {
	/* ====================== NAVIGATION ====================== */
	nav li a {
		color: #ddd;
		margin-left: 1.5rem;
	}

	nav li a:hover, nav li a:active {
		color: #fff;
		border-bottom: 1px solid #fff;
	}

	.logo {
		max-width: 140px;
		width: 140px;
	}

	.logo-link {
		vertical-align: middle;
		display: inline-block;
	}

	nav {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 100;
	}

	nav .container {
		padding-top: 2.5rem;
		display: flex;
	}

	nav ul {
		display: inline-block;
		margin-left: auto;
	}

	nav li {
		display: inline-block;
	}

	/* ====================== HEADER ====================== */
	header {
		padding: 12rem 0 5rem;
	}

	/* ====================== STRUCTURE ====================== */
	.half { width: 50% }
	.third { width: 33.3% }
	.two-thirds { width: 66.7% }

	.container-wide { width: 90% }
	.container-thin {
		width: 80%;
		max-width: 1000px;
	}
	.row {
		margin: 4rem 0;
	}
	.blocc {
		padding: 2.5rem 3rem;
		border: 1px solid #bbb;
	}

	.subpage {
		margin: 0 0 2rem;
	}

	/* ====================== TYPOGRAPHY ====================== */
	h1 { font-size: 4rem }
	h2 { font-size: 2.8rem }
	h3 { font-size: 2.5rem }
	h4 { font-size: 1.5rem }
	h1 { line-height: 120% }

	p {
		font: 400 1.4rem/130% $font;
	}
}

@media (min-width: 80rem) {
	.container-wide { width: 80% }
	.container-thin { width: 60% }
}