---
---

$font: Barlow, Helvetica, Arial, sans-serif;
$orange: #fc9;
$light-orange: #fdb;
$pink: #ff7b96;
$brown: #2b0500;
$color1: $pink;
$color2: $orange;

@import url('https://fonts.googleapis.com/css?family=Barlow:300,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url('img/hero.jpg') bottom/cover no-repeat fixed;
    padding-top: 35vh;
    padding-bottom: 15vh;
    color: #eee;
}

.container-thin {
    padding-left: 22.5%;
    padding-right: 22.5%;
}

.container-medium {
    padding-left: 10%;
    padding-right: 10%;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.one-third {
    width: 33%;
}

.two-thirds {
    width: 64%;
}

.half {
    width: 48%;
}

section {
    margin: 5rem 0;
}

#global-nav {
    padding-top: 3rem;
    position: absolute;
    width: 100%;
}

#global-nav-logo {
    width: 9rem;
    display: inline-block;
}

#global-nav ul {
    float: right;
}

#global-nav a {
    display: inline-block;
    color: #ccc;
    font-size: 1.65rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid transparent;
    margin-left: 1.75rem;
}

#global-nav a:first-child {
    margin-left: 0;
}

#global-nav a:hover, #global-nav a:active {
    color: #eee;
    border-bottom: 1px solid #eee;
}

img {
    max-width: 100%;
}

a, h1, h2, h3, h4, h5, p, li {
    font-family: $font;
}

a {
    text-decoration: none;
    transition: .15s;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0.25em;
}

h3 {
    font-weight: 300;
    font-size: 2.25rem;
}

#hero-nav {
    margin-top: 2rem;
}

.button {
    background: $orange;
    color: $brown;
    padding: .5rem 1rem .6rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: .5rem;
    display: inline-block;
    border: none;
}

#mce-EMAIL {
    outline: none;
    padding: .5rem .8rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    border: none;
    margin-right: 0.5rem;
    color: $brown;
}

.button:hover {
    background: $light-orange;
    cursor: pointer;
}

h2 {
    font-size: 2.7rem;
    line-height: 105%;
    color: $brown;
    margin-bottom: 1rem;
}

h4 {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 125%;
    color: #222;
    margin-bottom: 1rem;
}

.und {
    display: inline-block;
    position: relative;
    z-index: 1;
}
  
.und:after {
    content: "";
    display: block;
    position: relative;
    top: -.15em;
    width: 100%;
    height: .15em;
    background: linear-gradient(to left, $color1, $color2);
    z-index: -1;
    transition: .15s;
    margin-bottom: -.2em;
}
  
.und:hover:after {
    height: .5em;
    top: -.5em; /* set to same value as height to give the appearance of the underline not moving */
    margin-bottom: -.55em; /* difference btwn initial and final underline thickness */
}

#mce-EMAIL, #mc-embedded-subscribe {
    display: inline-block;
}

h5 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.portrait-container {
    max-height: 15rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.portrait-container img {
    width: 100%;
}