---
---

@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600&display=swap");
@import url("https://rsms.me/inter/inter.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER ================================================================================ */

header {
  position: relative; // helps with video positioning
  background: black; // if video doesn't work, bg should still be dark
  overflow: hidden; // prevent horizontal scroll due to bg video
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.dark-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.75);
  color: #eee;
}

.header-content-container {
  padding: 3rem 0;
  text-align: center;
  height: 100%;
}

header a {
  text-decoration: none;
  color: #eee;
}

.su-logo {
  font: 600 2rem/100% Barlow Semi Condensed, sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.expo-logo {
  font: 300 3rem/100% Inter, sans-serif;
  text-transform: lowercase;
  background: linear-gradient(45deg, #ffa77f, #9d308b);
  display: inline-block;
  color: #000;
  //padding: 0.25rem 1rem 0.75rem;
  padding: 0.2rem 0.7rem 0.5rem;
  border-radius: 1.5rem;
}

header h2,
header h3 {
  width: 90vw;
  max-width: 800px;
  margin: 2rem auto;
}

h2 {
  font: 800 1.5rem Inter, sans-serif;
}

h3 {
  font: 600 1.25rem Inter, sans-serif;
}

.button {
  font: 600 1.15rem/100% Inter, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
  background: #ffcc99;

  padding: 1.15rem 1.5rem 1.05rem;
  display: inline-block;
  border-radius: 5rem;

  transition: 0.1s;
}

.button:hover {
  background: #FFD9B3;
}

/* CONTENT ================================================================================ */

.card p {
  font-size: 1.15rem;
}

h4 {
  font: 400 1.1rem/150% Inter, sans-serif;
  margin: 1rem 0;
  color: #333;
}

section {
  display: block;
  overflow: hidden;
}

section a {
  color: #4799B3;
  transition: .1s;
}

section a:hover {
  color: darken(#4799B3, 15%);
}
p,
li {
  font: 400 1rem/130% Inter, sans-serif;
  margin: 1rem 0;
  color: #444;
}

li {
  margin-left: 2.5rem;
}

.container {
  width: 90%;
  margin: 2rem auto;
  max-width: 1000px;
}

.max-width-1000px {
  max-width: 1000px;
}

.max-width-1200px {
  max-width: 1200px;
}

.grid {
  display: grid;
  grid-row-gap: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.faq-item {
  background: #fff7e7;
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
}

.image-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 0.75rem;
  margin-top: 1rem;
}

.image-container img {
  transition: 0.1s;
}

.image-container img:hover {
  transform: scale(1.075);
}

#sponsor-logos {
  display: flex;
  width: 100%;
}

#sponsor-logos a {
  display: block;
  margin-right: 1rem;
}

#sponsor-logos img {
  max-height: 7rem;
  width: auto;
  margin-top: 2rem;
}

.dark-accent-bg {
  background: darken(#300, 7.5%);
  color: #eee;
}

.dark-accent-bg p {
  color: #ccc;
}

.dark-accent-bg a {
  color: #4799B3;
}

.dark-accent-bg a:hover {
  color: lighten(#4799B3, 15%);
}

#about p,
#about h2 {
  color: #eee;
}

#about p a {
  color: #fd9;
}

.social-icon {
  display: inline-block;
}

.social-icon img {
  width: 36px;
  height: 36px;
  margin: 0 0.25rem;
}

@media (min-width: 50rem) {
  .two-column {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .three-column {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .expo-logo {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p,
  li {
    font: 400 1.3rem/150% Inter, sans-serif;
  }
  .container {
    margin: 3rem auto;
  }
}
