		<footer>
			<div class="container container-thin">
				<div class="row">

					<div class="third">
						<a href="{{ site.url }}"><img class="logo" src="{{ '/img/Logo-Minified.svg' | prepend:site.url }}"></a>
						<p><a href="mailto:contact@scienceandus.org">contact@scienceandus.org</a></p>
					</div>
					
					<div class="third">
						<h5>Science & Us</h5>
						<ul>
							<li><a href="/apply">Attend</a></li>
							<li><a href="/donate">Sponsor/Donate</a></li>
							<li><a href="/teach">Lead a Session</a></li>
							<li><a href="/volunteer">Volunteer</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>