<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="icon" href="{{ '/img/favicon.ico' | prepend:site.url }}" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="{{ '/css/styles.css' | prepend:site.url }}">
		<link href="https://fonts.googleapis.com/css?family=Barlow:300,400,700" rel="stylesheet">
		<title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
	</head>

	<body>
		<header>
			<nav id="global-nav" class="default-state">
				<div class="container container-wide">
					<a class="logo-link" href="{{ site.url }}"><img class="logo" src="{{ '/img/Logo-Minified.svg' | prepend:site.url }}"></a>
					<a id="toggle" href="javascript:void(0)" onclick="toggleNavMenu()">☰</a>
					<ul>
						{% for link in site.global-nav %}
						<li><a href="{{ link.url }}">{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</nav>

			<script>
				function toggleNavMenu() {
					var globalNav = document.getElementById("global-nav");
					if (globalNav.className === "default-state") {
						globalNav.className += " responsive";
					} else {
						globalNav.className = "default-state";
					}
				}
			</script>