<nav class="topnav" id="global-nav">
	<a href="{{ site.url }}"><h5>Science & Us</h5></a>
	{% for link in site.links %}
	<a href="{{ link.url }}"><h5>{{ link.name }}</h5></a>
	{% endfor %}
	<a href="javascript:void(0)" id="nav-icon">☰</a>
</nav>
<script>
	// responsive navigation
	document.getElementById("nav-icon").addEventListener("click", toggleNav)
	function toggleNav() {
		var x = document.getElementById("global-nav");
		if (x.className == "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
	}
</script>