<header class="page-header">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="header.mp4" type="video/mp4">
    </video>
    
    <div class="dark-overlay">
        <div class="header-content">
            <div>
            <!--h1 has a container to keep the smol text right above the fancy text-->
                <h1>
                    <a href="{{site.url}}">
                        <div class="smol">Science and Us</div>
                        <div class="fancy">Makeathon</div>
                    </a>
                    <div class="smol">January 25, 2020 @ MIT Stata Center</div>
                </h1>
            </div>
        </div>
    </div>
</header>