.button {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 100%;
    text-transform: uppercase;
    color: $off-white;
    background: linear-gradient(45deg, $btn-gradient1, $btn-gradient2);
    padding: .65em .85em;
    border-radius: 2em;
    display: inline-block;
}

.button-primary {
     background: linear-gradient(45deg, $btn-primary-gradient1, $btn-primary-gradient2);
}

.button:first-of-type {
    margin-right: 1rem;
}

.button:hover {
    transform: scale(1.1);
}