footer {
    background: $off-black;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: $off-white;
}

footer .logo {
    width: 12.5rem;
    display: block;
    margin: 0 auto 1rem;
}

footer a {
    color: $off-white;
}

.social-icon {
    text-decoration: none;
}

.social-icon img {
    width: 40px;
    display: inline-block;
    margin: 0 5px;
}

footer p {
    font-size: 1rem;
    margin: .5rem 0;
    line-height: 125%;
    color: $off-white;
}