.hero-bg-container {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    background: $off-black no-repeat center/cover;
}

.header-with-hero {
    height: 35rem;
}

.header-small {
    height: 20rem;
    background: $off-black;
}

.hero-content-container {
    padding-top: 10rem;
    width: 100%;
    height: 100%;
}

@media (min-width: 45rem) {
    .header-with-hero .hero-content-container {
        padding-top: 13rem;
    }
}