nav {
    width: 100%;
    padding: .5rem 10%;
    position: fixed;
}

#nav-logo { height: 5rem }

nav ul {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1.5rem;
}

nav li { list-style: none }

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 100%;
    color: $light-gray;
    display: block;
    margin-top: 1rem;
}

.nav-link:hover,
.nav-link:active { color: $off-white }

nav,
.nav-link,
.button,
#nav-logo,
a,
input[type="submit"] { transition: .15s }

#menuToggle input,
#menuToggle span { display: none }

#menu {
    display: flex;
    justify-content: space-between;
}

.nav-scroll { background: $off-black }
.nav-scroll #nav-logo { height: 3.5rem }

#nav-logo-a-mobile {
    display: none;
}

@media (max-width: 80rem) {
    br {
        display: none;
    }

    #nav-logo-a-mobile {
        display: block;
        position: fixed;
        top: 1rem;
        right: 5%;
        z-index: 2;
    }

    #nav-logo-a {
        display: none;
    }

    nav {
        padding: 0;
        height: 0;
    }

    #menu, nav ul, #menu li {
        display: block;
    }

    #nav-logo, .nav-scroll #nav-logo {
        height: 2.5rem;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 1.5rem;
        padding-left: 5%;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        margin-left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: $light-gray;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
        z-index: 2;
    }
    
    #menuToggle span:first-child { transform-origin: 0% 0% }
    #menuToggle span:nth-last-child(2) { transform-origin: 0% 100% }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:nth-last-child(2) { transform: rotate(-45deg) translate(0, -1px) }
    
    #menu {
        position: absolute;
        width: 100%;
        margin: -100px 0 0 -5%;
        padding: 7rem 1.5rem 2rem;
        background: $off-black;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        z-index: 1;
    }
    
    .nav-link {
        padding: .25rem 0;
        display: block;
    }
    
    #menuToggle input:checked ~ ul { transform: none }
}