$font-stack: Barlow, system-ui, Helvetica, Arial, sans-serif;
$light-gray: #c8c2bd;
$dark-gray: #403e3d;
$off-white: #f9f9f8;
$off-black: #110009;
$btn-gradient1: #6e6b68;
$btn-gradient2: #8c8884;
$btn-primary-gradient1: #caa279;
$btn-primary-gradient2: #ca7979;